body { height: 2000px; font-family: Arial, Sans-serif; }
.slidenote { width: 340px; height: 140px; background: #FBEC78; padding: 1em; }
.slidenote img { float: right; margin-top: -1.5em; margin-right: -1.25em; }
.slidenote img:hover { margin-top: -1.45em; }